div.tile {
    width: 300px;
    position: relative;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}
div.tile:hover{
    transform: scale(1.101);
}

div.tile img {
   
    border-radius: 4px;
    width : inherit;
}

div.tile div.text{
    position: absolute;
    padding: 10px;
    top     : 0;
    z-index : 10;
    width: inherit;
    box-sizing: border-box;
}
div.tile div.text h1{
    color: rgb(67, 35, 0);

}
div.tile div.text{
    color: rgb(255, 255, 255);

}