div.tags {
    width      : 100vw;
    margin     : 15px 0px;
    padding    : 0px 20%;
    box-sizing : border-box;
    color      : rgb(78, 79, 93);
    font-size  : 16px;
    line-height: 38px;
}

div.tags span {
    display    : inline-block;
    border     : 1px solid rgb(74, 126, 167);
    color      : rgb(74, 126, 167);
    padding    : 1px 20px;
    margin     : 10px;
    flex-shrink: 0;
}

@media(max-width:910px) {
    div.tags {
        padding: 0px 10%;


    }
}