div.author {
    max-width: 200vw;

    display: flex;

    align-items: center;

    margin: 20px 0px;

    padding: 0px 28%;

    box-sizing: border-box;

    justify-content: space-between;
}

div.author span {
    font-weight: 700;
    font-size  : 22px;
    color      : rgb(78, 79, 93);
}

div.author span:last-child {
    font-weight: 500;
    font-size  : 18px;
    margin-left: 20px;
}

@media(max-width:910px) {
    div.author {
    padding: 0px 10%;

    }
}