h1.title-blog{
    width: 100vw;
    display: flex;
    align-items: center;
    margin: 40px 0px;
    padding: 0px 28%;
    box-sizing: border-box;
    color:rgb(78, 79, 93);
    font-size: 32px;
    font-weight: 600;
}
@media(max-width:910px){
    h1.title-blog{
    padding: 0px 10%;

    }
}