div.content-blog{
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
    margin: 15px 0px;
    padding: 0px 10% 0px 28%;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans';
}
div.content-blog .content-blog-body{
    flex: 2;
    font-weight: 400;
    line-height: 1.5em;
    font-size: 20px;
    color: #7e7e7e;
    text-align: justify;

}
div.content-blog .content-blog-right{
    margin: 50px;
    width: 25%;
    padding-left: 5%;
    padding-right: 5%;
    /* background-color: khaki; */
    height: 200px;
    box-sizing: border-box;
}
@media(max-width:910px){
    div.content-blog{
        width: 100%;
        padding: 0px 10%;
        box-sizing: border-box;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    }
    div.content-blog .content-blog-body{
        font-size: 20px;

    }
    div.content-blog .content-blog-right{
        display: none;
    }
}