div.bibliography{
    width      : 100vw;
    margin     : 15px 0px;
    padding    : 0px 20%;
    box-sizing : border-box;
    color      : rgb(78, 79, 93);
    font-size  : 16px;
    line-height: 38px;
}
div.bibliography ul{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
div.bibliography ul li{

    font-size: 24px;
}
div.bibliography ul li.active{
    border-top:3px solid rgb(215, 0, 0) ;
    box-sizing: border-box;
}
div.bibliography ul li:last-child{
    margin: 0 20px;
}
@media(max-width:910px) {
    div.bibliography{
        padding    : 0px 10%;


    }
}