.CarouselSlide{
    background-color: #ffffff;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 100%;
    text-align: center;
}
.CarouselImage{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    text-align: center;
    height: 90%;
}
.CarouselCaption {
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 10%;
    opacity: 1;
    margin-top: 10px;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
    max-height: 100%;
}
@media(max-width:910px) {
    .CarouselImage{
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        align-content: center;
        text-align: center;
        height: 80%;
    }
    .CarouselCaption {
        display: inline-block;
        text-align: center;
        width: 100%;
        height: 20%;
        opacity: 1;
        font-size: 10px;
        margin-top: 5px;
    }
}