h1.heading {
    font-weight: 600;
    width      : 100vw;
    display    : flex;
    align-items: center;
    margin     : 15px 0px;
    padding    : 0px 36% 0px 28%;
    box-sizing : border-box;
    color      : hsl(236, 9%, 34%);
    font-size  : 28px;
    font-family: 'IBM Plex Sans';
}

@media(max-width:910px) {
    h1.heading {
        padding  : 0px 10%;
        font-size: 24px;

    }
}