.subblog{
    padding-left: 20%;
    padding-right: 20%;
}
ul.chapters{
    list-style: none;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    margin: 0 2px;
    padding: 0;
    overflow: hidden;
    overflow-y: scroll;
}
ul.chapters li {
    background-color: rgb(255, 200, 81);
    padding: 12px 2px;
    text-align: center;
    color: rgb(118, 90, 0);
    border: 1px solid rgb(255, 174, 0);
    cursor: pointer;
}
ul.chapters li:first-child{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    cursor: default;
}
ul.chapters li:last-child{
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.accordion__panel{

    
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
        font-weight: 400;
        line-height: 2em;
        font-size: 24px;
        color: #7e7e7e;
      
}