nav {
    width              : 100vw;
    /* background-color: rgb(233,241,217); */
    background-color   : rgb(255, 255, 255);
}

nav div.upper-nav {
    box-sizing     : border-box;
    padding        : 0 15%;
    display        : flex;
    width          : 100%;
    align-items    : center;
    justify-content: space-between;
}

nav div.brand {
    font-weight: 600;
    display    : flex;
    align-items: center;
    color      : rgb(46, 49, 185);
    font-size  : 18px;
}

nav ul {
    list-style     : none;
    display        : flex;
    justify-content: space-around;
}

nav ul li {
    margin   : 0px 20px;
    font-size: 20px;
}

nav ul li a {
    text-decoration: none;
    color          : rgb(78, 79, 93);
}

nav div.upper-nav ul li.bars {
    transform: rotate(90deg);
}

nav div.bottom-nav {
    box-sizing     : border-box;
    padding        : 0 15%;
    border-top     : 1px solid rgb(192, 192, 192);
    border-bottom  : 1px solid rgb(192, 192, 192);
    display        : flex;
    width          : 100%;
    align-items    : center;
    justify-content: space-between;
}

nav div.bottom-nav ul li a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav div.bottom-nav div.brand {
    color      : rgb(80, 80, 80);
    font-weight: 500;

}

nav ul li {
    font-size: 16px;
}

@media(max-width:910px) {
    nav div.upper-nav {
        padding: 0;
    }

    nav div.bottom-nav {
        padding: 0;
    }
}