div.full-size-image{
    width: 100vw;
    
    margin: 80px 0px;
    box-sizing: border-box;
    color:rgb(191, 13, 0);
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
div.full-size-image img{
    background-color: rgb(233,241,217) ;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
div.full-size-image div.banner-details{
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    

    color: rgb(78,79,93);
    padding: 20px 20%;
    font-size: 15px;
}
div.full-size-image div.banner-details div.left-des{
    width: 60%;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
div.full-size-image div.banner-details div.right-des{
    text-align: right;
    font-family: monospace;
    letter-spacing: 1px;
}
