footer div.whattoread{
    background-color: rgb(236,236,236);
    height: 400px;
}
footer div.relatedcolection{
    background-color: rgb(227,227,227);
    height: 400px;
}
footer{
    margin-top: 40px;
}