div.section-map{
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: 0px 15%;
    box-sizing: border-box;
    margin-bottom:40px ;
}
div.section-map ul{
    list-style: none;
    width: 100%;
    display: flex;
    margin: 0px;
    padding: 0px;
}
div.section-map ul li{
    height: 12px;
    position: relative;
}
div.section-map ul li span{
    position: absolute;
    top:20px;
    color: rgb(78, 79, 93);
    
}
div.section-map ul li span.end{
    position: absolute;
    right:0px;
    top:25px;
    font-size: 12px;
    text-align: right;
    width: 70%;
    text-transform: capitalize;

}