.App {
    display: flex;
    flex-flow: column;
    align-items: center;
    overflow:hidden;

}
div.jumbo-box{
    height: 400px;
    width: 100vw;
    margin-bottom:30px ;
    background:linear-gradient(to right, #000428, #004e92);;
    color: white;
    font-size: 60px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blog{
    margin:0;
    padding:0;
    width:100vw;
    overflow:hidden;
}