.media-banner .image{
    height: 700px;
    overflow: hidden;
    width: 100%;
}
.media-banner .image img{
    width: 100%;
}
.media-banner h1,.media-banner div{
    color: rgb(244, 244, 244);
    font-weight: 500;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.media-banner .banner-text{
    max-height:80px;
    overflow: hidden;
    text-align: justify;
    transition: max-height 1s ease-in-out ;
}
.media-banner .banner-text.more{
    max-height:fit-content;
    overflow: auto;
}
.media-banner button{
    background: none;
    border: none;
    color: white;
    margin: 20px;
    margin-left: 0;
    padding: 10px 20px;
    font-size: large;
    margin-top: 10px;
    cursor: pointer;
    border: 1px solid white;
}