div.banner{
    width: 100vw;
    height: 700px;
    display: flex;
    align-items:flex-end;
}
div.banner div.banner-details{
    padding: 20px 15%;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    width: 100%;

}
div.banner div.banner-details div.left-des{
    width: 60%;
}
div.banner div.banner-details div.right-des{
    text-align: right;
}
@media(max-width:910px) {
    div.banner{

        height: 300px;

        background-size: cover;
    }
    div.banner div.banner-details div.left-des{
        display: none;
    }
    div.banner div.banner-details div.right-des{
        text-align: right;
        display: none;
    }
}